.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
    hsl(218, 41%, 35%) 15%,
    hsl(218, 41%, 30%) 35%,
    hsl(218, 41%, 20%) 75%,
    hsl(218, 41%, 19%) 80%,
    transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#radius-shape-1, #radius-shape-2 {
    position: absolute;
    overflow: hidden;
}

#radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
}

#radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
}

.text-container {
    position: relative;
    z-index: 10;
    padding-left: 50px;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.main-content {
    overflow-y: auto;
}

/*Only fot log in page: */
.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-inner {
    width: 100%;
}

.btn-primary {
    background-color: hsl(218, 81%, 85%);
    border: none;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #ad1fff;
}

.alert-custom {
    background-color: hsl(218, 81%, 90%);
    color: hsl(218, 41%, 30%);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
}