<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css">

    <link rel="stylesheet" href="/css/nav-style.css">
    <link rel="stylesheet" href="/css/global-style.css">
    <link rel="stylesheet" href="/css/prelogin-style.css">
</head>
<body>
<div class="grid-container">
    <th:block th:replace="blocks/prelogin_nav :: prelogin_nav"></th:block>

    <section class="background-radial-gradient overflow-hidden main-content">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="container px-4 py-5 px-md-5">
            <div class="row gx-lg-5 align-items-center mb-9">
                <div class="col-lg-12 mb-12 mb-lg-0 text-container text-center">
                    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                        About <br/>
                        <span style="color: hsl(218, 81%, 75%)">DeaneryDesk</span>
                    </h1>
                    <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                        DeaneryDesk is an advanced administrative platform tailored for managing Key Performance
                        Indicators (KPIs) at the KPI University. Our platform streamlines tasks related to KPI tracking,
                        empowering administrators with efficiency and insights. Simplify your KPI management and
                        optimize performance effortlessly with DeaneryDesk.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>
</body>
</html>
